# Django
*.pyc
__pycache__/
db.sqlite3
*.log
venv/
env/
.env

# Flutter
flutter-app/.dart_tool/
flutter-app/.packages
flutter-app/build/
flutter-app/.flutter-plugins
flutter-app/.flutter-plugins-dependencies
flutter-app/*.iml
flutter-app/.idea/
flutter-app/android/.gradle/
flutter-app/android/local.properties
flutter-app/ios/Pods/
flutter-app/ios/.symlinks/
flutter-app/ios/Flutter/flutter_export_environment.sh
flutter-app/ios/Flutter/Generated.xcconfig
flutter-app/ios/Runner/GeneratedPluginRegistrant.*
flutter-app/android/app/src/main/java/io/flutter/plugins/
flutter-app/macos/Flutter/GeneratedPluginRegistrant.swift
flutter-app/macos/Flutter/ephemeral/
flutter-app/.metadata
flutter-app/pubspec.lock
flutter-app/macos/Podfile.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store